<h1>Vista de Carrito 🛒</h1>
<article>
    {{#unless cart}}
    <h3>Carrito <strong>#{{cid}}</strong> vacío!</h3>
    {{/unless}}
    {{#if cart}}
    <table id="{{cid}}" class="cartTable">
        <tr>
            <th><strong>PRODUCTO</strong> </th>
            <th><strong>CANTIDAD</strong> </th>
            <th> </th>
        </tr>
        {{#each cart}}
        <tbody>
            <tr>
                <td>{{this.product.title}}</td>
                <td>{{this.quantity}}</td>
                <td> <a href="#" role="button" class="outline" id="delProdId-{{this.product._id}}">Borrar 💣</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
</article>
<script src="/js/carts.js"></script>