<h1>Vista de Productos 游닍</h1>
    <article>
        <table>
            <tr>
                <th>Nombre: </th>
                <th>Descripci칩n: </th>
                <th>Precio($): </th>
                <th>C칩digo: </th>
                <th>stock: </th>
                  <th> </th>
            </tr>
            <tbody>
                {{#each payload}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.code}}</td>
                    <td>{{this.stock}}</td>
                  <td> <a href="#" role="button" class="outline">Agregar 游</a></td> 
                </tr>
                {{/each}}
            </tbody>
        </table>
        <p>P치gina actual: {{page}}</p>
        <a href="{{prevLink}}" role="button" class="outline" {{#unless hasPrevPage}} disabled {{/unless}}>Atr치s</a>
        <a href="{{nextLink}}" role="button" class="outline" {{#unless hasNextPage}} disabled {{/unless}}>Siguiente</a>
    </article>